/* ----------- desktop ----------- */

.navbar{
    position: fixed;
    z-index: 99999;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    background-color: $white;
    @include add-shadow-s;
    transition:  background-color 0.3s , box-shadow 0.3s  ;

    .logo{
        height: 40px;
    width: 100%;
    margin: 5vh auto 0 auto;
    position: relative;
        img{
            width: 81px;
            height: 33px;
            object-fit: cover;
            margin: 12px 12px;
        }
            }
    
    
     .navbar_items{
         position: relative;
         margin-top: 10vh;
         height: 70%;
         background: inherit;
        .navbar_item{
            margin-bottom: 1.3vh;
             .navbar_item-level1{
                 display: flex;
                 flex-flow: column nowrap;
                 align-items: center; 
                 div{
                     width: 60px;
                     height: 60px;
                     background: $lighter-grey;
                     border-radius: 50%;
                     margin-bottom: 5px;
                     display: flex;
                    align-items: center;
                     justify-content: center;
                     transition: background 0.15s ease;
                     i{
                         font-size: 28px;
                         color: $charcoal;
                         transition: color 0.15s ease;           
                     } 
                     .aicon-user{
                        margin-top: 5px;
                     }         
                 }
                 p{
                     font-size: map-get($font-sizes, 's');
                     font-weight: $font-weight-bold;
                     color: $dark-grey;
                     transition: color 0.15s ease;
                 }
    
                 &:hover{
                     div{
                         background-color: $grey;
                         i{
                             color: $blue;
                         }
                     }
                     p{
                         color: $darker-grey;
                     }
                 }
                      }
             .navbar_item-level2{
                 position: absolute;
                 top: 0;
                 right: -400px; 
                 z-index: -1;
                 width: ceil($flyout-width-open - 20px);
                 height: 65%;
                 transition: right 0.3s;
                 .Content{
    
                         }
                       }
                   }
                }
         
    .navbar_container_language{
        background: inherit;
    }
     .navbar_language {
                  margin: auto auto 30px auto; 
                  width: 85px;
                  height: 30px;
                  background-color: $light-grey;
                  border-radius: $border-radius;
    
         #dropdown-content {
                     display: block;
                     margin: 5px 2px; 
                     height: 30px;
                     border: none;
                     background: transparent;
                     color: $darker-grey;
                     font-size: map-get($font-sizes, 's');
                     font-family: $font-family-sans-serif;
                     text-transform:capitalize;
    
                     &:focus, &:active ,&:hover{
                        outline: none
                     }
                     
              }
    
              }
}

.is-open-navbar{
    background-color: $lighter-grey;
    @include add-shadow-0;


    .navbar_items{   
       .navbar_item{
            .navbar_item-level1{
                div{
                    background:$grey;
                }
            }
        }
    }

    .navbar_language {
        background-color: $grey;
    }
}


.is-open-navbar_item{
    .navbar_item-level1{
        div{
            background: $blue !important ;
            i{
                color: $white !important ;
            }          
        }
        p{
            color: $darker-grey !important ;
        }
    }
    
    .navbar_item-level2{
        animation: 0.3s level2 cubic-bezier(0.6, 0, 0.2, 0.99) forwards;
        @keyframes level2 {
          0% {
            display: none;
          }
          20%{
            display: block ;
          }
          100% {
            right: ceil($navbar-width - 30px);
            margin-right: 27%;
          }
        }
              }
         }
          
        
    .flyout-bg{
        position: fixed;
        z-index: 88888;
        right: -400px;
        width: $flyout-width-open;
        height: 100%;
        background-color: $white;
        transition: right 0.2s ;
    }    
    .is-open-flyout-bg{
        right: 139px; 
    }    
   

     
/* ----------- tablet & phone ----------- */

@media only screen
and (min-width: 320px)
and (max-width: 1280px)  { 


    .navbar{
        left: 0;
        right: 0;
        top: auto;
        height: 60px;
        border-top: solid 1px $light-grey;
        @include add-shadow-l;
        .logo{
           display: none;
                }

         .navbar_items{
             display: flex;
             flex-flow: row nowrap;
             justify-content: space-between;
             position: relative;
             margin: 7px auto auto auto;
             height: 100%;  
             min-width: 200px;
             background: inherit;
            .navbar_item{
                margin-bottom: 1.3vh;
                 .navbar_item-level1{
                     display: flex;
                     flex-flow: column nowrap;
                     align-items: center; 
                     div{
                         width: 25px;
                         height: 25px;
                         background: $light-grey;
                         border-radius: 50%;
                         margin-bottom: 0px;
                         display: flex;
                        align-items: center;
                         justify-content: center;
                         transition: background 0.15s ease;
                         i{
                             font-size: 15px;
                             color: $charcoal;
                             transition: color 0.15s ease;           
                         } 
                         .aicon-user{
                            margin-top: 0px;
                         }         
                     }
                     p{
                         margin-top: 0;
                        font-size: map-get($font-sizes, 'xs');
                        font-weight: $font-weight-bold;
                        color: $dark-grey;
                        transition: color 0.15s ease;
                     }
        
                     &:hover{
                         div{
                             background-color: $grey;
                             i{
                                 color: $blue;
                             }
                         }
                         p{
                             color: $darker-grey;
                         }
                     }
                          }
                 .navbar_item-level2{
                     display: none;
                     .Content{
        
                             }
                           }
                       }
                    }
             
        .navbar_container_language{
            display: none;
        }
    }
    
    .is-open-navbar{
        background-color: $lighter-grey;
        @include add-shadow-0;
    
    
        .navbar_items{   
           .navbar_item{
                .navbar_item-level1{
                    div{
                        background:$grey;
                    }
                }
            }
        }
    
        .navbar_language {
            background-color: $grey;
        }
    }
    
    
    .is-open-navbar_item{
        .navbar_item-level1{
            div{
                background: $blue !important ;
                i{
                    color: $white !important ;
                }          
            }
            p{
                color: $darker-grey !important ;
            }
        }
        
        .navbar_item-level2{
            animation: 0.3s level2 cubic-bezier(0.6, 0, 0.2, 0.99) forwards;
            @keyframes level2 {
              0% {
                display: none;
              }
              20%{
                display: block ;
              }
              100% {
                right: ceil($navbar-width - 30px);
                margin-right: 27%;
              }
            }
                  }
             }
              
            
        .flyout-bg{
            display: none;
            position: fixed;
            z-index: 88888;
            right: -400px;
            width: $flyout-width-open;
            height: 100%;
            background-color: $white;
            transition: right 0.2s ;
        }    
        .is-open-flyout-bg{
            right: 139px; 
        }  


 } 



  