/* ----------- desktop ----------- */


.sections-tags{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    margin: 30px auto 25px auto;
 }

.sections-tag{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $light-blue;
    color: $blue;
    font-size: map-get( $font-sizes, 's' );
    border-radius: $border-radius-xl;
    height: 40px;
    margin: auto 0px auto 20px;
    

    &:first-child{
        margin: 0;
    }

    .sections-tag_title{
            display: inline-block;
            margin: auto 15px auto 15px;
        }

     .sections-tag_number{
            display: inline-block;
            width: 25px;
            height: 25px;
            background: $lighter-blue;
            border-radius: $border-radius-circal; 
            text-align: center;
            margin-left: 10px;
        }
    
}


/* ----------- tablet ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1280px)  { 


     .sections-tag{
        display: none;

        
        &:nth-child(1){
            display: inline-flex;
        }
        &:nth-child(2){
            display: inline-flex;
        }
    
        .sections-tag_title{
                font-size: map-get($font-sizes, 'xs' );
            }
        
    }

 } 
/* ----------- phone ----------- */ 
@media only screen
and (min-width: 320px) 
and (max-width: 767px) { 

    .sections-tag{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: $light-blue;
        color: $blue;
        font-size: map-get( $font-sizes, 's' );
        border-radius: $border-radius-xl;
        height: 40px;
        margin: auto 0px auto 20px;
        
    
        &:first-child{
            margin: 0;
        }
    
        .sections-tag_title{
                display: inline-block;
                margin: auto;
                font-size: map-get($font-sizes, 'xs' );
            }
    
         .sections-tag_number{
                display: none;
            }
        
    }

    .sections-tags_mobil{
        width: 87%;
        margin: auto 20px;
    }

 }