/* ----------- desktop ----------- */


.footer-links{
    direction: rtl;
    margin: 0 15px;
    .footer-links_title{
     
        font-size: map-get($font-sizes , 's' );
        font-weight: bold;

        &::after{
            content: "";
            display: block;
            background-color: $blue;
            width: 60px;
            height: 5px;
            margin-top: 12px;
            border-radius: $rounded-pill;
        }
    }

    ul{ 
        padding: 0;
        margin-top: 24px;
        li{
            text-decoration: none;
            list-style-type: none;
            font-size: map-get($font-sizes , 'xs' );
            margin-bottom: 9px;

            a{
                color: $white;
            }
        }
    }
}

.footer_footer-links_line{
    display: none;
}

.mobile-extra-links{
    display: none;
}


/* ----------- tablet ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1280px)  { 

    .footer-links{
        margin: 30px auto;
    }

    .footer_footer-links_line{
        display: block;
        width: 85%;
        height: 1px;
        background-color: $white;
        opacity: 0.6;
        margin: auto auto 40px auto;
    }

 } 
/* ----------- phone ----------- */ 
@media only screen
and (min-width: 320px) 
and (max-width: 767px) { 


    .footer-links{
        margin: 30px auto;
    }

    .footer_footer-links_line{
        display: block;
        width: 85%;
        height: 1px;
        background-color: $white;
        opacity: 0.6;
        margin: auto auto 0px auto;
    }

    .mobile-extra-links{
        display: block;
        margin-top: 10px;

        .footer-links_title{
            display: none;
        }

        ul{ 
            margin-top: 0px;
            li{
                display: inline-block;
                margin: auto 10px;
                font-size: map-get($font-sizes , 'xs' );
            }
        }

    }

 }





  





