/* ----------- desktop ----------- */

.premium-button{
    display: inline-block;
    background-color: $blue;
    color: $white;
    border: solid 1px $blue2;
    font-size: map-get( $font-sizes, 's' );
    padding: 9px 20px;
    margin-right: 10px;
    border-radius: $border-radius-lg;
    @include add-shadow-blue();

}

/* ----------- tablet ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1280px)  { 



 } 
/* ----------- phone ----------- */ 
@media only screen
and (min-width: 320px) 
and (max-width: 767px) { 

    .premium-button{
        font-size: map-get( $font-sizes, 'xs' );
    }

 }