@import "../2_base/0_index.scss";

/* ----------- desktop ----------- */

.header-page{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
   
    p{
        line-height: 46px;
        height: 26px;
        color: $dark-blue;
    }

    }

 
    .home-title_h3{
        text-align: center;
        color: $dark-grey;
        font-size: map-get($font-sizes, 's' );
        margin: 10px auto 20px auto;
        }

.text-buttons-group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px auto 30px auto;

    p{
        line-height: 46px;
        height: 26px;
        color: $dark-blue;
    }
}

.nav-mobile{
    display: none;
}

/* ----------- tablet ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1280px)  { 

        .header-page{
            flex-flow: column-reverse nowrap;
           text-align: center;
    
           .premium-button{
               margin-top: 10px;
           }
           .secondary-button{
               display: none;
           } 
            }

        .text-buttons-group{
            flex-flow: column-reverse nowrap;
            margin: 10px auto 30px auto;
            text-align: center;
        
            p{
                margin-bottom: 25px;
            }
        }

        .nav-mobile{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
    
            margin: 0px 20px 20px 20px;
            height: 45px;
    
            .logo{
               
                img{
                    width: 85px;
                    margin-top: 12px;
                }
            }
        }

 } 
/* ----------- phone ----------- */ 
@media only screen
and (min-width: 320px) 
and (max-width: 767px) { 

 
    .header-page{
        flex-flow: column-reverse nowrap;
       text-align: center;

       .premium-button{
           margin-top: 10px;
       }
       .secondary-button{
           display: none;
       } 
        }

        .sections-tags{
             margin: 30px auto 20px auto;
         }

    .text-buttons-group{
        flex-flow: column-reverse nowrap;
        margin: 10px auto 30px auto;
        text-align: center;
        p{
            text-align: center;
            font-size: map-get($font-sizes, 'xs' );
        }
        .secondary-button{
            margin: 20px 20px;
            display: block;
            font-size: map-get($font-sizes, 'xs' );
        }
    }

    .nav-mobile{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        margin: 0px 20px 20px 20px;
        height: 45px;

        .logo{
           
            img{
                width: 85px;
                margin-top: 12px;
            }
        }
    }

 }

